*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    list-style: none;
    padding: 5px;
}
ul{
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
header{
    background-color: cadetblue;
    color: white;
    padding: 30px;
}
main{
    min-height: 70vh;
}
/* Estilos de la card donde se carga la pelicula */
.card>.list-group:last-child{
    align-items:start ;
}

.container-fluid p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 30px;
}
/* Estilos del historial */
.list-group{
    min-width: 20rem;
}
.list-group-item{
    width: 100%;
}
.btn-primary{
    color: cadetblue;
    --bs-btn-border-color: cadetblue!important;
    --bs-btn-active-border-color:cadetblue;
    --bs-btn-hover-bg:cadetblue;
    --bs-btn-hover-border-color:cadetblue;
    --bs-btn-active-bg:cadetblue;
    --bs-btn-hover-color:white;
    background-color: white;
}
/* Estilos del footer */
footer{
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: cadetblue;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration:underline;
    text-decoration-color: white;
}