*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    list-style: none;
    padding: 5px;
}
ul{
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
header{
    background-color: cadetblue;
    color: white;
    padding: 30px;
}
.card>.list-group:last-child{
    align-items:start ;
}

.container-fluid p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 30px;
}
/* Estilos del footer */
footer{
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: cadetblue;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration:underline;
    text-decoration-color: white;
}