li{
    list-style: none;
    padding: 5px;
}
ul{
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
nav{
    background-color: cadetblue;
}
.card>.list-group:last-child{
    align-items:start ;
}
/* Estilos del footer */
footer{
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: cadetblue;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration:underline;
    text-decoration-color: white;
}